/*------------------------------------*\
    $WIDGETS
\*------------------------------------*/

.widget {
  margin: 0 $padding_base/4;
}

.widget-title {
  text-align: center;
  line-height: inherit;
}

.widget--external-links {}

.widget--contact {}

.widget--wp {}

.widget--posts {}

.widget--pages {}

.widget--tags {}
