

.woocommerce-breadcrumb {
  flex-basis: 100%;
  padding-top: $padding_base/2;
  padding-left: $padding_base;
  background-color: $site-main-bgcolor;
}

*[data-attribute_name] {
  margin-left: $padding_base/2;
  margin-right: $padding_base/2;
}

.woocommerce-ordering,
.woocommerce-result-count {
  display: none;
}

.onsale {
  position: absolute;
  background-color: $color-white;
  margin-top: $padding_base/4;
  margin-left: $padding_base/4;
  padding: $padding_base/4;
  border-radius: $padding_base/2;
}

.price {
  text-align: center;
  width: 100%;
  display: block;
  color: $color-alt2;
  max-width: 140px;
}
