.highlight {
	background-color: red;
	color: white;
}
.form {}
.form-search {
	margin-left: $padding_base;
}
.form--disponibilidad {
	background-color: $color-alt;
	h3 {
		margin: 0;
	}	
}
.gform_wrapper {}
.validation_error,
.validation_message {
	@include font-size(12);
	color: red;
}
.form-wrap {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	flex: 1 450px;
	padding-top: $padding_base / 2;
	padding-left: $padding_base / 2;
	padding-right: $padding_base / 2;
	
	.form__checkinout, 
	.form__user-input {
		flex: 1 175px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		input {
			margin-bottom: 15px;
			margin-right: 15px;
			margin-left: 15px;
			flex: 1 200px;
		}
	}
	.form__submit-wrap {
		display: flex;
		justify-content: center;
		padding-top: $padding_base / 2;
		padding-bottom: $padding_base / 2;
    	flex: 1 100%;
	}
}
.days_not_available {
	color: #ccc;
}
.calendar {
	// border: 1px solid $color-black;
	flex-basis: 200px;
	margin-bottom: $padding_base/3;
	span {
		padding-right: 4px;
	}
	button {
		border: none;
		background-color: transparent;
	}
	.disabled > span {
		color: pink;
	}
}


.input-client {
	flex: 1 50%;
}

