.alert {
  margin-bottom: $padding_base/4;
  padding: 20px;
  width: 100%;
  flex: 1 100%;
  a {
    color: $color-alt2;
  }
}
  .alert-info {
    background-color: $color-white;
  }
  .alert-error {
    background-color: pink;
  }
  .alert-success {
    background-color: $color-alt2;
  }
