.input-client {
	flex: 1 50%;
}
label {
	margin-right: 10px;
}
input {
	padding: 5px;
}
input[type=number] {
	width: 50px;
	text-align: center;
}

// $product
// [class*=product] {
//     &:hover {}
// }
